<div class="flex-container">

    <mat-card>
        <h1>Faça seu cadastro</h1>
        <form action='' id="main-form" class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input type="text" placeholder="Digite seu nome" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Telefone</mat-label>
                <input type="text" placeholder="(xx)xxxxx-xxxx" matInput mask="00-0000-0000" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Crie sua senha</mat-label>
                <input type="password" matInput required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirme sua senha</mat-label>
                <input type="password" matInput required>
            </mat-form-field>
            <button mat-raised-button color='primary' type='submit'> Cadastrar</button>

        </form>
    </mat-card>

</div>